<header id="main_header">
	<h1><%= link_to "ABSURD NYC", root_path %></h1>
	<nav>

		<% if session[:user_id] %>
			<%= link_to "SAVED ADVENTURES", user_adventures_path(session[:user_id]) %> | 
			<%= link_to "LOG OUT", sessions_path, method: :delete %>
		<% else %>
			<%= link_to "LOG IN", login_path %>
		<% end %>
	
</nav>

</header>