<!-- /users -->
<h1>User.all</h1>

<ol>

<% @users.each do |user| %>
<li>
	<p>ID: <%=user.id%></p>
	<p>Username: <%=user.username%></p>
	<p>Password: <%=user.password_digest%></p>
</li>
<% end %>

</ol>