


<!-- <img id='box1' style='display:none' src="http://static.comicvine.com/uploads/original/11113/111134695/3891161-6868490335-cats-.jpg" alt="">

<img id='box2' style='display:none' src="http://images4.fanpop.com/image/photos/16100000/Cute-Kitten-kittens-16123796-1280-800.jpg" alt="">

<img id='box3' style='display:none' src="http://www.yaylife.com/wp-content/uploads/2014/06/teacup-kittens2.jpg" alt="">

<img id='box4' style='display:none' src="http://www.tehcute.com/pics/201110/marshmellow-kitten-big.jpg" alt="">
<br>
<button onclick='nextDiv()'>Click this</button> -->