<img class="triangle_image" src="/assets/header.jpg">

<div class="stereotype">
	<h2>IBANKER</h2>
	<h3>{.000000001%}</h3>
	<span>AFTER A LONG DAY OF SWAPPING CREDIT DERIVATIVES &amp; MORTGAGE BACKED SECURITIES</span>
</div>


<section>
	<header>
		<div class="horizontal_line"></div>
		<span>THE RESTAURANT</span>
		<div class="horizontal_line"></div>
		<div class="vertical_line"></div>
	</header>
	<main class="results">
		<img class="full_bleed" src="/assets/01_hipster/restaurant_fette_sau.jpg">
		<div class="flip_container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front white_box">
					<div class="magical_vertical_align">
						<h2>Union Square Tavern</h2>
						<h3>a snappy new plave to eat</h3>
					</div>
				</div>
				<div class="back white_box">
					<div class="magical_vertical_align">
						<span>"MY FRIEND AND I CAME ON A TUESDAY, NOON, BARELY ANY PEOPLE BUT IT WAS GOOD, BECAUSE I THOUGHT IT WOULD BE CRAWLING WITH PEOPLE. MAYBE AT NIGHT? ANYWAY, WE..."<a href="">READ MORE</a></span>
						
						<h3>684 Lorimer St.<br>Williamsburg</h3>
					<div>
				</div>
			</div>
		</div>
	</main>
</section>


<div class="bottom_buttons">
	<%= link_to "CHOOSE NEW ADVENTURE", new_adventure_path, class: "submit_button" %>
</div>

<div class="bottom_buttons">
	<%= form_tag adventures_path, method:"POST" do %>
		<%= button_tag "SAVE", class: "submit_button" %>
	<% end %>
</div>

