<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <br> <br>
  Yelp Data:
<br><br><br>
  <%= @data.businesses.first.name %> <br>
  <%= @data.businesses.first.snippet_text %> <br>
  <%= @data.businesses.first.location.display_address %> <br>


</body>
</html>