body{
	margin:0;
	padding:0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #111;
}
/*HEADER STYLES (html is in partials _header.html)*/
#main_header{
  height:50px;
}

header h1{
  position: absolute;
  left: 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: 5px;
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding:7px 0 0 31px;
}
#main_header a{
  text-decoration: none;
  color: #111;
}

#main_header a:visited{
  color: #111;
}

#main_header a:hover{
  color: mediumaquamarine;
}

header nav{
  position: absolute;
    right: 0;
    padding: 14px 31px 0 0px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 2px;
    font-size: .9em;
}

/*REGULAR LINK STYLES*/

a{
  text-decoration: none;
  color: mediumaquamarine;
}

a:visited{
  color: mediumaquamarine;
}

ul{
  list-style: none;
  -webkit-padding-start: 0;
  margin: 58px 0 20px 0;
}

li{
  line-height: 28px;
}


/*FORM STYLES*/
.login{
  width: 50%;
  display: inline-block;
}

.signup{
  width:50%;
  display: inline-block;
}

a:hover{
  color: #111;
}

/*PC STYLES*/
h4 {
  color: mediumaquamarine;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 400;
}

/*FORM STYLES*/

.form_header h2{
  font-family: "Oswald", sans-serif;
  letter-spacing: 5px;
  font-size: 60px;
  font-weight: 400;
  margin: 100px;
  text-transform: uppercase;
}

.submit_button {
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 35px;
  padding: 22px;
  width: 500px;
  font-size: 30px;
  background-color: #333;
  color: white;
  font-family: "Raleway", sans-serif;
  border: none; 
}

.submit_button:visited {
  color:white; 
}

.submit_button:hover {
  color:mediumaquamarine; 
}

/*choose adventure form*/
.drop_down {
    letter-spacing: 5px;
    padding: 22px;
    width: 500px;
    font-size: 30px;
    background-color: mediumaquamarine;
    color: white;
    font-family: "Raleway", sans-serif;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    text-transform: uppercase;
}

/*signup-login form*/
.login{
  width: 40%;
  display: inline-block;
  border: 1px solid #111;
  vertical-align: top;
  margin-right:20px;
  padding:20px;
}

.signup{
  width:40%;
  display: inline-block;
  border: 1px solid #111;
  padding:20px;
}

.input {
  letter-spacing: 5px;
  padding: 22px;
  margin:0 auto 18px auto;
  width: 80%;
  font-size: 20px;
  background-color: mediumaquamarine;
  color: white;
  font-family: "Raleway", sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  text-transform: uppercase;
  display: block;
  text-align:center;
}

 ::-webkit-input-placeholder{
  color:white;
 }

.login .submit_button{
  margin-top:126px;
  width: 88%;
}
.signup .submit_button{
  width: 88%;
}

/*results page buttons*/
.bottom_buttons{
  display: inline-block;
  margin-right: 20px;
}

.bottom_buttons .submit_button {
  padding: 32px;
  font-size: 20px;
  width:400px;
  margin-top: 0;
  display: inline-block;
  box-sizing: content-box;
}

/*RESULTS PAGE*/
.triangle_image{
	width:600px;
}

.stereotype{
	margin-bottom: 40px;
}

.stereotype h2{
  	font-family: "Oswald", sans-serif;
  	letter-spacing: 5px;
  	font-size: 60px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

h3 {
	font-family: "cambria", "georgia", serif;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 3px; 
    margin:0;
}

.stereotype span {
	  font-family: "cambria", "georgia", serif;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 3px;
    margin: 30px auto 25px auto;
    display: block;
    font-size: 1.5em;
    width: 750px;
    line-height: 1.6em;
}

section{
  	margin-bottom:40px;
  	width:100%;
}

section header{
    width: 785px;
    margin: 0 auto;
}

section header span {
  	padding: 17px;
  	font-family: "Raleway", sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 400;
    display: block;
}

.horizontal_line{
	height: 1px;
	width: 550px;
	display: block;
	margin: 0 auto;
	border-top: 1px solid black;
}

.vertical_line{
	height: 40px;
	width: 1px;
	display: block;
	margin: 0 auto;
	border-right: 1px solid black;
}	

.instagram {
	display:inline-block;
	width: 100%;
}
.insta-img {
	width: 24%;
	margin: 0 20px 0 20px;
}

.results{
	position: relative;
}
.results h2{
  	font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 60px;
    font-weight: 400;
    margin:0 0 22px 0;
}

.full_bleed {
	width:100%;
}
/*animation on white boxes*/
.flip_container{
  perspective: 1000;
  position: absolute;
  width: 450px;
  height: 450px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.flip_container:hover .flipper, .flip_container.hover .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.white_box{
  width: 450px;
  height: 450px;
  background-color: white;
}

.magical_vertical_align{
  padding: 0 15px 0 15px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

.flipper{
    transition: 0.8s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: relative;
}

.front, .back{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
/*end of animation on white boxes stuff*/

.back span{
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    word-spacing: 5px;
}

.back h3{
  padding-top:50px;
}

/*FOOTER STYLES (html is on app layout)*/
footer{
  width:100%;
  background-color: rgba(118, 238, 198,.4); 
  margin-top: 50px;
}

footer div{
  padding:30px 0 10px 0;
}

footer p{
  font-size: .8em;
  padding-top:11px;
}

/*SAVED ADVENTURES PAGE*/
.saved_wrapper {
  width: 1000px;
  margin: 0 auto;
}
.saved_adventure {
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #111;
  text-align: center;
  text-transform: uppercase;
  font-family: "raleway", sans-serif;
}

.saved_adventure h2 {
  margin: 35px 0 10px 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: 5px;
  font-size: 44px;
  font-weight: 400;
}

.saved_adventure:hover{
  background-color: mediumaquamarine; 
}

.saved_adventure a {
  color:#111;
}

.saved_adventure a:hover {
  color:white;
}

/*MEDIA QUERIES*/

@media (max-width: 970px){
  .bottom_buttons{
    margin-bottom: 20px;
  }  
}

@media (max-width: 800px){
  .flip_container{
    width: 350px;
    height: 350px;
  }

  .white_box{
    width: 350px;
    height:350px;
  }

  .full_bleed{
    height: 400px
  }

  .results h2{
    font-size: 40px;
  }
  section header{
    width: 100%;
  }

  .horizontal_line{
    width: 90%;
  }
}

.loading-content img {
  width: 20%;
  margin: 5%;
}