
	<html>
<head>
	<title></title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
	<style type="text/css">
		body{
			margin: 0;
		    background-image: url("/assets/welcome.jpg");
		    background-color: #111;
		    background-repeat: no-repeat;
		    background-size: cover;
		    position: relative;
		    background-position: center;
		    min-height: 1080px;
		}

		a {
			text-decoration: none;
		}

		h1 a {
			color: white;
		}

		h1 a:hover {
			color: #111;
		}

		p a {
			color: #111;
		}

		p a:hover{
			color:white;
		}

		p {
			position: relative;
		    top: 116px;
		    color: #111;
		    font-family: "Raleway", sans-serif;
		    letter-spacing: 3px;
		    font-size: 24px;
		    text-align: center;
		    font-weight: 500;
		}

		h1 {
			position: relative;
		    top: 36%;
		    color: white;
		    border: 3px solid white;
		    font-family: "Oswald", sans-serif;
		    letter-spacing: 5px;
		    font-size: 70px;
		    text-align: center;
		    font-weight: 400;
		    width: 500px;
		    margin: 0 auto;
		    background-color: rgba(118, 238, 198,.4);
		    height: 145px;
		    line-height: 2;
		}

		@media (min-width: 1515px){
			body{
				background-size: contain;
			}
		}
	</style>
</head>
<body>
<p><a href="/adventures/new">ENTER</a></p>
<h1><a href="/adventures/new">ABSURD NYC</a></h1>


</body>



<!-- <img id='box1' style='display:none' src="http://static.comicvine.com/uploads/original/11113/111134695/3891161-6868490335-cats-.jpg" alt="">

<img id='box2' style='display:none' src="http://images4.fanpop.com/image/photos/16100000/Cute-Kitten-kittens-16123796-1280-800.jpg" alt="">

<img id='box3' style='display:none' src="http://www.yaylife.com/wp-content/uploads/2014/06/teacup-kittens2.jpg" alt="">

<img id='box4' style='display:none' src="http://www.tehcute.com/pics/201110/marshmellow-kitten-big.jpg" alt="">
<br>
<button onclick='nextDiv()'>Click this</button> -->